section#factorial {
	text-align:center;
		background:#333;
		height:100vh;
		padding-top:20px;
	.fact-title {
		font-size:5rem;
		max-width:40%;
		margin:0 auto;
	} p {
		font-size:1.5rem;
		color:white;
	} input#number {
		border:2px solid orange;
		font-size:1.5rem;
		border-radius:5px;
		background:lightgray;
	} a#btn {
		font-size:1.5rem;
		border:1px solid black;
		border-radius: 5px;
		background:orange;
		padding:5px;
		transition:.5s;
	} a:hover {
		cursor: pointer;
		background:orange;
		color:#333;
		border:1px solid black;
	} div#output {
		font-size: 5rem;
		transition:2s;
		padding:20px;
	}
}
